<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            <%= @time.strftime('%Y-%m-%d') %> |
            <%= @server_label %> <%= @channel %> |
            vpsFree.cz IRC archive
        </title>
        <link rel="stylesheet" href="<%= @root %>/assets/style.css">
    </head>
    <body>
        <div id="header">
            <h1>
                <a href="https://vpsfree.cz">
                    <img
                        src="<%= @root %>/assets/logo.svg"
                        alt="vpsFree.cz IRC archive"
                        width="164" height="48">
                </a>
                <span>
                    <a href="../../.."><%= @server_label %></a>&nbsp;
                    <a href="../.."><%= @channel %></a>
               </span>
            </h1>
            <p class="root">
                <a href="<%= @root %>">Root</a>
            </p>
            <p class="parent">
                <a href="."><%= @time.strftime('%B') %></a> /
                <a href=".."><%= @time.strftime('%Y') %></a>
            </p>
        </div>
        <div id="menu" class="cleaner">
            <p class="prev"><a href="<%= encode(@previous, true) %>">Previous</a></p>
            <h2><%= @time.strftime('%A, %B %-d %Y') %></h2>
            <p class="next"><a href="<%= encode(@next, true) %>">Next</a></p>
        </div>
        <div id="log">
