<p id="l<%= @counter %>">
<a href="#l<%= @counter %>" class="time">[<%= @time.strftime('%H:%M:%S') %>]</a>
<span class="event">
<%= encode(@user.nick) %> was kicked by <%= encodE(@op.nick) %>
<%= "[#{auto_link(@reason)}]" if @reason %>
</span>
</p>
