<p id="l<%= @counter %>">
<a href="#l<%= @counter %>" class="time">[<%= @time.strftime('%H:%M:%S') %>]</a>
<span class="event topic">
    <span class="nick"><%= encode(@m.user.nick) %></span>
    changed the topic to '<%= auto_link(@m.message) %>'
</span>
</p>
