<p id="l<%= @counter %>">
<a href="#l<%= @counter %>" class="time">[<%= @time.strftime('%H:%M:%S') %>]</a>
<span class="event topic"><%= encode(@m.user.nick) %> changed the topic to '<%= encode(@m.message) %>'</a>
</p>
